.homecontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    min-height: 100vh;
    padding-right: 220px;
    padding-left: 60px;
    padding-top: 30px;
}

.leftside {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 25%;
    margin-bottom: 20px;
}

.rightside {
    display: flex;
    flex-direction: column;
    width: 70%;
    animation: slideInLeftTop 2s ease-out;
    text-align: left;
}

.rightside h1 {
    margin-bottom: 10px; /* Adjust this to control spacing below the heading */
}

.rightside p {
    margin-top: 0; /* Remove any unwanted space above the paragraph */
    margin-bottom: 20px; /* Add consistent spacing at the bottom if needed */
}


.portrait-wrapper {
    position: relative;
    display: inline-block; 
}
  
.portrait-wrapper::before {
   content: '';
   position: absolute;
   top: -25px;
   left: -25px;
   width: 100%;
   height: 100%;
   background-color: #DD761C;
   border-radius: 6%;
   z-index: -1;
   animation: slideInLeft 1s ease-out;
}

.portrait {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 6%;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
  animation: slideInLeftPortrait 1s ease-out;
}

.color-transition {
    animation: colorChange 5s infinite;
    font-weight: bold;
}

@keyframes colorChange {
    0% {
      color: #ff7f50; /* Coral */
    }
    25% {
      color: #ffa500; /* Orange */
    }
    50% {
      color: #1e90ff; /* DodgerBlue */
    }
    75% {
      color: #00bfff; /* DeepSkyBlue */
    }
    100% {
      color: #ff7f50; /* Coral */
    }
}

.color-transition:nth-child(2) {
    animation-delay: 1s;
}

.color-transition:nth-child(3) {
    animation-delay: 2s;
}

.color-transition:nth-child(4) {
    animation-delay: 3s;
}

.color-transition:nth-child(5) {
    animation-delay: 4s;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
    .homecontent {
        flex-direction: column; /* Stack content vertically */
        align-items: center;
        padding-right: 0px;
    }   
    .leftside, .rightside {
        width: 100%; /* Make both sections take full width */
        font-size: 16px;
        }   
    .rightside {
        text-align: center; /* Center the text for better readability */
    }   

    .portrait-wrapper{
        margin-top: 100px;
    }

    .portrait {
        width: 150px; /* Reduce the size of the image on smaller screens */
    }
}


@keyframes slideInLeft { 
    from { 
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeftPortrait { 
    from { 
        transform: translateX(-50%);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeftTop { 
    from { 
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
      color: #ff7f50; /* Coral */
    }
    25% {
      color: #ffa500; /* Orange */
    }
    50% {
      color: #1e90ff; /* DodgerBlue */
    }
    75% {
      color: #00bfff; /* DeepSkyBlue */
    }
    100% {
      color: #ff7f50; /* Coral */
    }
}
  


