.homecontainer {
    min-height: 100vh;
    margin: 80px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

.left-side{
    background-color: #FDE49E;
    border-radius: 6px;
    height: 100vh;
    width: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 70%;
    width: 60%;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff6dd
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.card .card-picture{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2);
}

.card .card-picture img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 60% 30%;

}

.card h2{
    font-size: 35px;
}

.card h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
}

.right-side{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
}

.right-side p{
    text-align: center;
}

.right-side h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.right-side h1 span{
    animation: color-change 5s infinite;
}



@keyframes color-change {
    0% { color: #DD761C; }
    33% { color: #6DC5D1; }
    66% { color: #FDE49E; }
    100% { color: #DD761C;}
}

@media (max-width: 768px){
    .homecontainer{
        flex-direction: column;
        margin: 20px;
    }

    .left-side, .right-side{
        width: 100%;
        height: 50vh;
    }

    .right-side{
        padding-left: 0;

    }

    .right-side p{
        font-size: 20px;
    }

    .card{
        width: 80%;
    }

    .card h2{
        font-size: 25px;
    }

    .card h3{
        font-size: 20px;
    }

    .card .card-picture{
        width: 100px;
        height: 100px;
    }

    .card .card-picture img{
        width: 100px;
        height: 100px;
    }
}


